{% extends "layout.html" %}


<div class="container">
    {% block body %}
    <div class="jumbotron text-center">
        <h3>Yazılım Bilimi Bloguna hosgeldiniz</h3>
        <p>
            Bu blokta gelistiriciler olarak blog yazilarinizi paylasabilirsiniz ve insanlara yardimci olabilirsiniz.
        </p>
    </div>

    <!-- <ul>
        {% for article in articles  %}
        <li>Article Id: {{article.id}} - Title: {{article.title}} - Content: {{article.content}} </li>
        {% endfor %}
    </ul> -->

    {% endblock body %}
</div>